<h3>Lista de Clientes</h3>
<div class="box p-d-none" style="width: 50%;">
    <p-table [value]="clientes">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Employee Position</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.name}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.employeePosition}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>    